:root{
    --color-primary:rgb(26,43,72);
    --color-secondary:rgb(255,255,255);
    --color-third:rgb(44,44,44);
    --color-fourth:rgba(223, 105, 81, 1);
    --color-fifth:rgba(94, 98, 130, 1);
    --fontsize-xs:0.7rem;
    --fontsize-small:1.18rem;
    --fontsize-normal:1.6rem;
    --fontsize-large:2.3rem;
    --fontsize-xl:4.9rem;
}
html{
    font-size: 16px;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
img{
    /* width:100%; */
}
video{
    width:100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* WRAPPER */
#wrapper{
    width:100%;
    /* background-color: red; */
    position: relative;
}
/* HEADER */
#header{
    width:100%;
    /* height:220px; */
}
#top_bar{
    width:100%;
    height:60px;
    background-color:var(--color-primary);
}
#top_bar ul{
    display:flex;
    justify-content: space-between;
    list-style: none;
    color:var(--color-secondary);
}
#top_bar ul li{
    width:40%;
    text-align: center;
    line-height:70px;
}
#top_bar ul li:first-child i{
font-size: 20px;
padding:5px;
}
#top_bar ul li span{
padding:10px;
}
#logOut{
    color:var(--color-secondary);
    display: none;
}
#nav_bar{
    width:100%;
    height:100px;
    background-color:var(--color-secondary);
    padding-top:40px;
}
#nav_bar-logo{
    position:absolute;
    width:200px;
    /* background-color: brown; */
    top:50px;
    left:45%;
    font-size:60px;
    color:var(--color-primary)
}
#nav_bar-plane{
    background-image: url("/assets/photos/home/plane.png");
    background-size: cover;
    color:var(--color-primary);
    width:100px;
    height:100px;
    /* background-color: brown; */
    position: absolute;
    top:75px;
    left:40%;
}
#nav_bar ul{
    /* display:flex; */
    list-style: none;
    /* justify-content: space-around; */
}
#nav_bar ul li{
    width:15%;
    text-align: center;
    font-size:21px;
    font-weight:700;
    display:none;
}
#nav_bar ul li:last-child i{
    padding:10px;
}
#nav_bar-menu{
    /* display:none; */
    font-size:40px !important;
    color: var(--color-primary);
    /* float:left; */

}
#nav_bar-menu-box{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    width:45%;
    background-color:var(--color-primary);
    color: var(--color-secondary);
    transform: translateX(-100%);
    transition: transform linear 0.2s;
}
#nav_bar-close{
    float: right;
    font-size: 40px;
    padding-right:10px;
}
#nav_bar-menu-box ul {
    display:flex;
    flex-direction: column;
}
#nav_bar-menu-box ul li{
    padding-top:50px;
    font-size: 19px;
    font-weight: 600;
    padding-left:20px;
}
#over-layout{
    background-color:var(--color-third);
    position: fixed;
    opacity: 0.3;
    top:0;
    bottom:0;
    right:0;
    width:55%;
    display:none;
    animation: fadeInOverLayout linear 0.5s;
}
#checkbox_close-layout{
    position:fixed;
    top:0;
    right:0;
    display:none;
}
#checkbox_close-layout:checked ~ #nav_bar-menu-box{
transform: translateX(0);
}
#checkbox_close-layout:checked ~ #over-layout {
    display:block;
}
@keyframes fadeInOverLayout {
    from{
        opacity:0;
    }
    to{
        opacity:0.3;
    }
}

#nav_bar-hotels-list{
    border-radius:3px;
    background-color:white;
    position:fixed;
    top:25%;
    left:50%;
    right:35%;
    padding:10px;
    display:none;
    animation:fadeInHotelsList linear 0.1s ;
}
#nav_bar-hotels-list ul{
    list-style: none;
    display:flex;
    flex-direction: column;
    gap:10px;
}
#nav_bar-hotels-list ul li{
    flex:1;
    text-align: center;
}
#check_hotels-list{
    position: fixed;
    top:0;
    right:0;
    display:none;
}
#check_hotels-list:checked ~ #nav_bar-hotels-list{
display:block;
}
@keyframes fadeInHotelsList {
    from{
        top:0;
        opacity: 0;
    }
    to {
        top:25%;
    }
}

/* MAIN_BODY */

#main_body{
    width:100%;
    /* background-color: brown; */
}
#video-intro{
    width:100%;
}
#video-screen{
    width:100%;
}
#layout-video{
    width:100%;
    background-color: black;
    opacity: 1;
    position: absolute;
    top: 220px;
    height:789px;
    opacity:0.8;
}
#content{
    width:100%;
    background-color:var(--color-secondary);
    display:flex;
    justify-content: space-between;
    margin-top: 80px;
}
#sub-content{
    width:40%;
}
.sub-content-main{
    padding-left:5%;
}
.first{
    color:var(--color-fourth);
    font-size: var(--fontsize-normal);
    padding-top:10%;
}
.second{
    color:var(--color-primary);
    font-size:var(--fontsize-xl);
    padding-top:10%;
}
.last{
    color:var(--color-fifth);
    font-size:var(--fontsize-small);
    padding-top:3%;
}
#sub-content-image-decor{
    width:35%;
    height:550px;
    background-image: url(/assets/photos/home/Decore.png);
    background-size: cover;
}
#sub-content-image-travel{
    width:500px;
    height:550px;
    background-image: url(/assets/photos/home/travel.png);
    background-size: cover;
    position: absolute;
    right:20%;
    box-shadow: 0 0 5px var(--color-primary);
}
#sub-content-layout{
    width:100%;
    height:100%;
    background-image: url(/assets/photos/home/Decore.png);
    display:none;
}
#products_intro{
    width: 100%;
    text-align: center;
    font-size: var(--fontsize-large);
    color:var(--color-primary);
    margin-top:80px;
    text-shadow: 2px 2px 2px var(--color-primary);
}
#products_intro-decor{
    background-image: url(/assets/photos/products/Decore-products.png);
    background-repeat: no-repeat;
    background-size: contain;
    width:20%;
    height:300px;
    position: absolute;
    top:1600px;
    right:20%;
}
#products_box{
    width:100%;
    background-color: var(--color-secondary);
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top:20px;
}
.product_item{
width:22%;
height:400px;
display: flex;
flex-direction: column;
overflow: hidden;
margin:30px;
border-radius: 8px;
box-shadow: 2px 2px 10px var(--color-primary);
}
.product_img{
overflow: hidden;
border-radius: 10px;
}
.product_item img{
    width:100%;
    height:300px;
    border-radius: 8px;
    transition: all 0.3s;
}
.product_item img:hover{
    transform: scale(1.3,1.3);
}
.product_name{
display:flex;
justify-content: space-between;
font-size: var(--fontsize-small);
padding:10px 10px;

}
.product_name span:hover{
color:var(--color-primary);
text-decoration: underline;
}
.product_name i:hover{
color:red;
}
.product_details{
display:flex;
justify-content: space-between;
padding:0 10px;
}
@media only screen and (max-width:720px) {
#content{
    display: flex;
    flex-direction: column;
}
#sub-content{
    width:100%;

}
#sub-content-image-travel{
    display:none;
}
#sub-content-image-decor{
    display:none;
}
#top_bar ul li:last-child {
font-size: var(--fontsize-xs);
}
#products_intro-decor{
    display:none;
}
#products_box{
 display: flex;
 flex-direction: column;
}
.product_item{
    width:80%;
    text-align: center;
    margin: 10px auto;
}
}





